.course-select,
input[type="date"],
input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: 1 / span 2;
}
